#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-overlay_inactive {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-rounded_textbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 #s-ok_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2bb6ce43-6605-44f7-872d-adab5b44b419 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}