#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b #s-buffer_bottom {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d0f42d53-f507-47d0-9446-39d7d1815e3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}